@inherits GeneralBase;

    <div class="settings-general">
        <h4>General</h4>
        <ValidationDisplay ValidationMessages="ValidationMessages" />
        @foreach(var systemsetting in SystemSettings.OrderBy(x=>x.Key))
        {
            <SystemSettingComponent SystemSetting="systemsetting" />
        }
    </div>