@inherits RecipientsBase

<div class="settings-recipients">
    <div class="recipient-header">
        <h4 id="settings-recipient-top">Recipients</h4>
        <a @onclick="AddRecipient" title="add new recipient" class="selectable"><span class="oi oi-plus"></span></a>
    </div>
    <ValidationDisplay ValidationMessages="ValidationMessages" />
    <div class="form-group scrollbar recipient-section">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Verified</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var recipient in Recipients.OrderBy(x=>x.Name))
                {
                    <tr>
                        <td>@recipient.Name</td>
                        <td><input type="text" class="form-control form-text" @bind="recipient.Address" /></td>
                        <td class="verification-section">
                            @if (recipient.Verified)
                            {
                                <span title="Recipient is verified" class="oi oi-check"></span>
                            }
                            else
                            {
                                <a @onclick=@(()=>VerifyRecipient(recipient)) class="selectable"><span title="Contact the recipient to verify its existence. This will also fill in the recipient's name" class="oi oi-reload" style="@(recipient.IsVerifying ? "animation: rotationAnimation 1.5s linear infinite" : "")"></span></a>
                                @if (!string.IsNullOrWhiteSpace(recipient.VerifyResult))
                                {
                                    <span title="@recipient.VerifyResult" class="oi oi-warning"></span>
                                }
                            }

                        </td>
                        <td>
                            <a @onclick="@(()=>DeleteRecipient(recipient))" class="selectable"><span title="Delete the recipient" class="oi oi-trash"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>