<div class="form-group">
    <label for="rootFolderSetting">@SystemSetting.Key</label>
    <input type="@SystemSetting.DataType" class="form-control" id="rootFolderSetting" @bind="SystemSetting.Value" />
    <small>@SystemSetting.Description</small>
</div>

@code{
    [Parameter]
    public Pi.Replicate.Application.SystemSettings.Queries.GetSystemSettingOverview.SystemSettingViewModel SystemSetting { get; set; }
}