@typeparam TE
    <div class="checkboxlistview scrollbar">
        <ul>
            @foreach (var item in CheckItems)
            {
                <li><input type="checkbox" @bind="item.IsChecked" />  @item.DisplayText</li>
            }
        </ul>
    </div>
@code{

    [Parameter]
    public List<CheckItem<TE>> CheckItems { get; set; }

}