@color-dark: #1c1c1c;
@color-dark-1: #111;
@color-dark-3: #333;
@color-white:#ffffff;
@color-red:red;
@color-white-fade-10: fade(@color-white,10%);
@color-white-fade-20: fade(@color-white,20%);
@color-dark-fade-20: fade(@color-dark,20%);
@color-dark-fade-30:fade(@color-dark,30%);