@import "darkTheme_colors.less";

.header {
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: @bgcolor-secondary;
    box-shadow: 0 6.4px 14.4px 0 @bgcolor-secondary-fade-30, 0 1.2px 3.6px 0 @bgcolor-secondary-fade-20; //todo create class of this
}

.header-title{
    font-size:larger;
    padding:5px;
}
