.main {
    h3 {
        font-size: x-large;
        margin-top: 15px;
        font-weight: bolder;
    }

    h4 {
        font-size:medium;
        margin-top: 15px;
        font-weight: bolder;
    }
}

/*FOLDERADD*/
.folder-add-form {
    padding: 1rem;
    display:flex;
    flex-direction:column;

    .form-group {
        padding-left: 2rem;
    }

    .folder-options {
        padding-top: 0.5rem;
    }

    .btn{
        margin-top:1rem;
        margin-left:2rem;
    }
}
