.main h3 {
  font-size: x-large;
  margin-top: 15px;
  font-weight: bolder;
}
.main h4 {
  font-size: medium;
  margin-top: 15px;
  font-weight: bolder;
}
.validation-summary {
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  padding: 10px;
  margin-bottom: 20px;
}
.folder-add-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.folder-add-form .form-group {
  padding-left: 2rem;
}
.folder-add-form .folder-options {
  padding-top: 0.5rem;
}
.folder-add-form .btn {
  margin-top: 1rem;
  margin-left: 2rem;
}