.nav-link {
  color: #d7d7d7;
  border-radius: 4px;
  height: 2.5rem;
  display: flex;
  align-items: center;
  line-height: 2.5rem;
}
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.nav-link.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
.main {
  width: 100%;
}
.main h3 {
  font-size: x-large;
  margin-top: 15px;
  font-weight: bolder;
}
.main h4 {
  font-size: medium;
  margin-top: 15px;
  font-weight: bolder;
}
.validation-summary {
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  padding: 10px;
  margin-bottom: 20px;
}
.validation-summary ul {
  overflow-wrap: break-word;
}
.folder-add-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.folder-add-form .form-group {
  padding-left: 2rem;
}
.folder-add-form .folder-options {
  padding-top: 0.5rem;
}
.folder-add-form .btn {
  margin-top: 1rem;
  margin-left: 2rem;
}
.folder-overview {
  display: flex;
  flex-direction: column;
}
.folder-overview .folder-overview-data {
  display: flex;
  flex-direction: row;
  flex: 1;
  border-bottom: 2px solid #ffffff;
}
.folder-overview .folder-overview-data h3 {
  margin-right: 25px;
}
.folder-overview .metadata {
  display: flex;
  flex-direction: column;
  font-size: smaller;
  margin-top: 0.5rem;
}
.folder-overview .folder-setting {
  font-size: x-large;
  align-self: center;
  margin-left: auto;
}
.folder-overview .folder-overview-recipients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}
.folder-overview .folder-overview-recipients .recipient {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 6.4px 14.4px 0 rgba(28, 28, 28, 0.3), 0 1.2px 3.6px 0 rgba(28, 28, 28, 0.2);
  padding: 10px;
  border-radius: 5px;
  width: 13rem;
  margin: 10px;
}
.folder-overview .folder-overview-recipients .recipient .recipient-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.folder-overview .folder-overview-recipients .recipient .recipient-header h4 {
  margin: 0;
}
.folder-overview .folder-overview-recipients .recipient .recipient-header h4,
.folder-overview .folder-overview-recipients .recipient .recipient-header p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
  text-align: center;
}
.folder-overview .folder-overview-recipients .recipient .recipient-address {
  font-size: smaller;
  font-style: italic;
}
.folder-overview .folder-overview-recipients .recipient:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #d7d7d7;
  cursor: pointer;
}