 @import "darkTheme_colors.less";

.main {
    h3 {
        font-size: x-large;
        margin-top: 15px;
        font-weight: bolder;
    }

    h4 {
        font-size:medium;
        margin-top: 15px;
        font-weight: bolder;
    }
}

.validation-summary {
    border: 2px solid @color-red;
    border-radius: 5px;
    color: @color-red;
    padding: 10px;
    margin-bottom: 20px;
    ul{
        overflow-wrap: break-word;
    }
}


.folder-add-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .form-group {
        padding-left: 2rem;
    }

    .folder-options {
        padding-top: 0.5rem;
    }

    .btn {
        margin-top: 1rem;
        margin-left: 2rem;
    }
}

