@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
.header {
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: #1c1c1c;
  box-shadow: 0 6.4px 14.4px 0 rgba(28, 28, 28, 0.3), 0 1.2px 3.6px 0 rgba(28, 28, 28, 0.2);
}
.header-title {
  font-size: larger;
  padding: 5px;
}
.nav {
  display: block;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 225px;
  position: sticky;
  box-shadow: 0 6.4px 14.4px 0 rgba(28, 28, 28, 0.3), 0 1.2px 3.6px 0 rgba(28, 28, 28, 0.2);
}
.sidebar .navbar-brand {
  font-size: 1.1rem;
}
.sidebar .oi {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}
.sidebar .nav-item {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.sidebar .nav-item:first-of-type {
  padding-top: 1rem;
  padding-bottom: 0.4rem;
}
.sidebar-bottom {
  margin-top: auto;
  background-color: rgba(255, 255, 255, 0.1);
}
@keyframes warningflash {
  from {
    color: yellow;
  }
  to {
    color: #ffffff;
  }
}
.oi-warning {
  animation: warningflash 2s linear infinite;
}
.nav-link {
  color: #d7d7d7;
  border-radius: 4px;
  height: 2.5rem;
  display: flex;
  align-items: center;
  line-height: 2.5rem;
}
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.nav-link.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
.main {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.main h3 {
  font-size: x-large;
  margin-top: 15px;
  font-weight: bolder;
}
.main h4 {
  font-size: larger;
  margin-top: 15px;
  font-weight: bolder;
}
.folder-add-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.folder-add-form .form-group {
  padding-left: 2rem;
}
.folder-add-form .folder-options {
  padding-top: 0.5rem;
}
.folder-add-form .btn {
  margin-top: 1rem;
  margin-left: 2rem;
}
.folder-overview {
  display: flex;
  flex-direction: column;
}
.folder-overview .folder-overview-data {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #ffffff;
}
.folder-overview .folder-overview-data h3 {
  margin-right: 25px;
}
.folder-overview .folder-metadata {
  display: flex;
  flex-direction: column;
  font-size: smaller;
  margin-top: 0.5rem;
  justify-content: center;
}
.folder-overview .folder-setting-link {
  font-size: x-large;
  align-self: center;
  margin-left: auto;
}
.folder-overview .blade-rack {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.folder-overview .blade-rack .blade-recipients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  flex: 1;
  align-content: flex-start;
}
.folder-overview .blade-rack .blade-side {
  border-right: 20px solid rgba(28, 28, 28, 0.2);
  border-radius: 10px;
  margin-right: 15px;
}
.folder-overview .blade-rack .blade-files {
  flex: 0.4;
}
.folder-settings {
  width: 60%;
}
.settings-overview {
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
}
.settings-overview .settings-submit {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.settings-overview .settings-submit a {
  width: 10rem;
}
.settings-overview .settings-submit a:hover {
  cursor: pointer;
}
.site-overview .site-overview-tiles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}
.site-overview .site-overview-tile {
  background-color: rgba(255, 255, 255, 0.1);
  width: 350px;
  height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.site-overview .site-overview-tile .site-overview-tile-title {
  font-size: medium;
  padding-left: 10px;
  padding-top: 20px;
  opacity: 0.7;
}
.site-overview .site-overview-tile .site-overview-tile-symbol {
  font-size: 8rem;
  opacity: 0.1;
  position: absolute;
  right: 10px;
  top: 10px;
}
.site-overview .site-overview-tile .site-overview-tile-value {
  text-align: center;
  font-size: 2.3rem;
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.checkboxlistview {
  overflow-y: auto;
  max-height: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  width: fit-content;
  padding-right: 1rem;
}
.checkboxlistview ul {
  padding-left: 10px;
  padding-top: 10px;
}
.checkboxlistview li {
  list-style: none;
}
.listview {
  overflow-y: auto;
  max-height: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  width: fit-content;
  padding-right: 1rem;
}
.listview ul {
  padding-left: 10px;
  padding-top: 10px;
}
.listview li {
  list-style: none;
}
.modal-content {
  background-color: #484848;
}
.modal-content button {
  color: #ffffff;
}
.validation-summary {
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.validation-summary ul {
  overflow-wrap: break-word;
}
@keyframes rotationAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.settings-recipients .recipient-header {
  border-bottom: 2px solid #ffffff;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.settings-recipients .recipient-header a {
  margin-left: auto;
}
.settings-recipients .recipient-section {
  max-height: 500px;
  overflow: auto;
}
.settings-recipients .recipient-section table {
  color: #ffffff;
  max-height: 500px;
}
.settings-recipients .recipient-section table th,
.settings-recipients .recipient-section table td {
  border-top: 0;
  vertical-align: middle !important;
}
.settings-general input[type=number] {
  width: 8rem;
}
.folderwebhook .folderwebhook-input {
  display: flex;
  align-items: center;
}
.folderwebhook .folderwebhook-input input[type=button] {
  margin-left: 20px;
}
.folderwebhook .folderwebhook-input span {
  margin-left: 10px;
}
.folderwebhook .folderwebhook-messagestructure {
  margin-top: 10px;
  margin-bottom: 15px;
}
.folderwebhook pre {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  width: fit-content;
  padding: 5px;
  border-radius: 4px;
}
.recipient-tile {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 6.4px 14.4px 0 rgba(28, 28, 28, 0.3), 0 1.2px 3.6px 0 rgba(28, 28, 28, 0.2);
  padding: 10px;
  border-radius: 5px;
  width: 13rem;
  margin: 10px;
}
.recipient-tile .recipient-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipient-tile .recipient-header h4 {
  margin: 0;
}
.recipient-tile .recipient-header h4,
.recipient-tile .recipient-header p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
  text-align: center;
}
.recipient-tile .recipient-address {
  font-size: smaller;
  font-style: italic;
}
.recipient-tile .recipient-metadata {
  display: flex;
  flex-direction: column;
  font-size: smaller;
}
.recipient-tile:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #d7d7d7;
  cursor: pointer;
}
.file-overview .file-overview-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.file-overview .file-overview-header span {
  margin-left: auto;
  margin-right: 20px;
}
.file-overview .file-overview-header span:hover {
  cursor: pointer;
}
.file-item {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}
.file-item .file-item-header {
  display: flex;
}
.file-item .file-item-header .file-item-name {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}
.file-item .file-item-header .file-item-version,
.file-item .file-item-header .file-item-sent {
  margin-left: 15px;
  font-size: small;
  align-self: center;
  color: #d7d7d7;
}
.file-item .file-item-body {
  margin-top: 5px;
  font-size: smaller;
}
.file-item .file-item-body .file-item-metadata {
  padding-left: 10px;
}
.file-item .file-item-body .file-item-previousversions {
  margin-top: 10px;
}
.selectable:hover {
  cursor: pointer;
}
.scrollbar {
  overflow: auto;
}
.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(28, 28, 28, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
}
.scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #1c1c1c;
}
.scrollbar-px-10 {
  overflow: auto;
}
.scrollbar-px-10::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(28, 28, 28, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
}
.scrollbar-px-10::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
.scrollbar-px-10::-webkit-scrollbar-thumb {
  background-color: #1c1c1c;
}
html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}
body {
  background-color: #333;
  color: #ffffff;
}
.a-link,
.btn-link {
  color: #ffffff;
}
.a-link:hover,
.btn-link:hover {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
app {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.flex-body {
  display: flex;
  overflow: auto;
  flex: 1;
  /*    height:100%;*/
}
#blazor-error-ui {
  background: #1c1c1c;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(28, 28, 28, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
.link {
  color: #d7d7d7;
  border-radius: 4px;
  height: 2.5rem;
  display: flex;
  align-items: center;
  line-height: 2.5rem;
  margin-top: 5px;
}
.link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  cursor: pointer;
}
.space-before-10 {
  margin-left: 10px;
}