@import "../darkTheme_colors.less";

.checkboxlistview {
    overflow-y: auto;
    max-height: 300px;
    background-color: @color-white-fade-10;
    border-radius: 5px;

    ul {
        padding-left: 25px;
    }

    li {
        list-style: none;
    }
}
