@import "../darkTheme_colors.less";

.file-overview {
    .file-overview-header{
        display:flex;
        flex-direction:row;
        align-items:center;
        span{
            margin-left:auto;
            margin-right:20px;
            &:hover{
                cursor:pointer;
            }
        }
    }
}
