@import "../darkTheme_colors.less";
.validation-summary {
    border: 2px solid @forecolor-error;
    border-radius: 5px;
    color: @forecolor-error;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;

    ul {
        overflow-wrap: break-word;
    }
}
