@page "/settings"
@inherits SettingsOverviewBase
<h3 id="settings-top">Settings</h3>
<div class="settings-overview">
    <form>
        <Pi.Replicate.WebUi.Pages.Settings.Components.General />
        <br />
        <Pi.Replicate.WebUi.Pages.Settings.Components.Recipients />
        
        <div class="form-group settings-submit">
            <a class="btn btn-primary" @onclick="NotifySaveClicked">Save</a>
        </div>
    </form>
</div>



