@inject MediatR.IMediator _mediator
@inherits NavMenuBase

<div class="sidebar flex-column">
    <div class="nav-folder scrollbar">
        <ul class="nav">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href='folder/add'>
                    <span class="oi oi-plus" aria-hidden="true"></span> Add folder
                </NavLink>
            </li>
            @foreach (var folder in Folders)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href='@("folder/"+ folder)'>
                        <span class="oi oi-folder" aria-hidden="true"></span> @folder
                    </NavLink>
                </li>
            }
        </ul>
    </div>
    <div class="nav-item px-3 sidebar-bottom">
        <NavLink class="nav-link" href="settings">
            <span class="oi oi-cog" aria-hidden="true"></span> Settings
        </NavLink>
    </div>
</div>
